{% extends "./common/layout.html" %}

{% block content %}

    {% include "./common/top-banner.html" %}
    {% include "./common/breadcrumb.html" %}

    {# info-page #}
<section class="info-page">
    <div class="container">
        <div class="section2">
            <div class="head-line">
                <h1>联系我们</h1>
            </div>
            <div class="main-text clearfix">
                {% for item in list %}
                <div class="design-ico m-t-item">
                    <a href="javascript:void(0);">
                        <span class="m-t-ico"></span>
                        <div class="m-t-wrap">
                            <div class="m-t-text">
                                <h2>{{ item.title }}</h2>
                                <p>{{ item.content }} </p>
                            </div>
                            <!-- <span class="m-t-btn">查看更多</span> -->
                        </div>
                    </a>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>
{% endblock %}
