@charset "utf-8";

.fl {
    float: left
}

.fr {
    float: right
}

.clr {
    clear: both;
    content: '.';
    display: block;
    overflow: hidden;
    visibility: hidden;
    font-size: 0;
    line-height: 0;
    width: 0;
    height: 0
}

.ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box
}

html {
    font-size: 37.5px
}

body {
    width: 100%;
    -webkit-text-size-adjust: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #666;
    font-family: "microsoft yahei", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 400;
    background: #fafafa;
    font-size: .37333333rem;
    line-height: 1.5
}

article,
aside,
dialog,
figure,
footer,
header,
menu,
nav,
section {
    display: block
}

abbr,
address,
article,
aside,
audio,
b,
blockquote,
body,
canvas,
caption,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
p,
pre,
q,
samp,
section,
small,
span,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
ul,
var,
video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    vertical-align: baseline
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block
}

p {
    line-height: .64rem;
    margin-bottom: .4rem
}

ol,
ul {
    list-style: none;
    list-style-image: none
}

ol li,
ul li {
    list-style: none
}

a {
    margin: 0;
    padding: 0;
    outline: 0;
    text-decoration: none;
    /* background: 0 0; */
    vertical-align: baseline;
    color: #333
}

a:hover {
    color: #3fbfbf
}

a.disabled {
    cursor: default
}

img {
    border: 0;
    /* height: auto; */
    -ms-interpolation-mode: bicubic
}

.col-lg-1,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-md-1,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-sm-1,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-xs-1,
.col-xs-10,
.col-xs-11,
.col-xs-12,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9 {
    position: relative;
    min-height: 1px;
    padding-right: .4rem;
    padding-left: .4rem
}

.col-lg-10:after,
.col-lg-11:after,
.col-lg-12:after,
.col-lg-1:after,
.col-lg-2:after,
.col-lg-3:after,
.col-lg-4:after,
.col-lg-5:after,
.col-lg-6:after,
.col-lg-7:after,
.col-lg-8:after,
.col-lg-9:after,
.col-md-10:after,
.col-md-11:after,
.col-md-12:after,
.col-md-1:after,
.col-md-2:after,
.col-md-3:after,
.col-md-4:after,
.col-md-5:after,
.col-md-6:after,
.col-md-7:after,
.col-md-8:after,
.col-md-9:after,
.col-sm-10:after,
.col-sm-11:after,
.col-sm-12:after,
.col-sm-1:after,
.col-sm-2:after,
.col-sm-3:after,
.col-sm-4:after,
.col-sm-5:after,
.col-sm-6:after,
.col-sm-7:after,
.col-sm-8:after,
.col-sm-9:after,
.col-xs-10:after,
.col-xs-11:after,
.col-xs-12:after,
.col-xs-1:after,
.col-xs-2:after,
.col-xs-3:after,
.col-xs-4:after,
.col-xs-5:after,
.col-xs-6:after,
.col-xs-7:after,
.col-xs-8:after,
.col-xs-9:after {
    clear: both;
    content: '.';
    display: block;
    overflow: hidden;
    visibility: hidden;
    font-size: 0;
    line-height: 0;
    width: 0;
    height: 0
}

.col-xs-1,
.col-xs-10,
.col-xs-11,
.col-xs-12,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9 {
    float: left
}

.col-xs-12 {
    width: 100%
}

.col-xs-11 {
    width: 91.66666667%
}

.col-xs-10 {
    width: 83.33333333%
}

.col-xs-9 {
    width: 75%
}

.col-xs-8 {
    width: 66.66666667%
}

.col-xs-7 {
    width: 58.33333333%
}

.col-xs-6 {
    width: 50%
}

.col-xs-5 {
    width: 41.66666667%
}

.col-xs-4 {
    width: 33.33333333%
}

.col-xs-3 {
    width: 25%
}

.col-xs-2 {
    width: 16.66666667%
}

.col-xs-1 {
    width: 8.33333333%
}

.col-xs-pull-12 {
    right: 100%
}

.col-xs-pull-11 {
    right: 91.66666667%
}

.col-xs-pull-10 {
    right: 83.33333333%
}

.col-xs-pull-9 {
    right: 75%
}

.col-xs-pull-8 {
    right: 66.66666667%
}

.col-xs-pull-7 {
    right: 58.33333333%
}

.col-xs-pull-6 {
    right: 50%
}

.col-xs-pull-5 {
    right: 41.66666667%
}

.col-xs-pull-4 {
    right: 33.33333333%
}

.col-xs-pull-3 {
    right: 25%
}

.col-xs-pull-2 {
    right: 16.66666667%
}

.col-xs-pull-1 {
    right: 8.33333333%
}

.col-xs-pull-0 {
    right: auto
}

.col-xs-push-12 {
    left: 100%
}

.col-xs-push-11 {
    left: 91.66666667%
}

.col-xs-push-10 {
    left: 83.33333333%
}

.col-xs-push-9 {
    left: 75%
}

.col-xs-push-8 {
    left: 66.66666667%
}

.col-xs-push-7 {
    left: 58.33333333%
}

.col-xs-push-6 {
    left: 50%
}

.col-xs-push-5 {
    left: 41.66666667%
}

.col-xs-push-4 {
    left: 33.33333333%
}

.col-xs-push-3 {
    left: 25%
}

.col-xs-push-2 {
    left: 16.66666667%
}

.col-xs-push-1 {
    left: 8.33333333%
}

.col-xs-push-0 {
    left: auto
}

.col-xs-offset-12 {
    margin-left: 100%
}

.col-xs-offset-11 {
    margin-left: 91.66666667%
}

.col-xs-offset-10 {
    margin-left: 83.33333333%
}

.col-xs-offset-9 {
    margin-left: 75%
}

.col-xs-offset-8 {
    margin-left: 66.66666667%
}

.col-xs-offset-7 {
    margin-left: 58.33333333%
}

.col-xs-offset-6 {
    margin-left: 50%
}

.col-xs-offset-5 {
    margin-left: 41.66666667%
}

.col-xs-offset-4 {
    margin-left: 33.33333333%
}

.col-xs-offset-3 {
    margin-left: 25%
}

.col-xs-offset-2 {
    margin-left: 16.66666667%
}

.col-xs-offset-1 {
    margin-left: 8.33333333%
}

.col-xs-offset-0 {
    margin-left: 0
}

@media (min-width:768px) {

    .col-sm-1,
    .col-sm-10,
    .col-sm-11,
    .col-sm-12,
    .col-sm-2,
    .col-sm-3,
    .col-sm-4,
    .col-sm-5,
    .col-sm-6,
    .col-sm-7,
    .col-sm-8,
    .col-sm-9 {
        float: left
    }

    .col-sm-12 {
        width: 100%
    }

    .col-sm-11 {
        width: 91.66666667%
    }

    .col-sm-10 {
        width: 83.33333333%
    }

    .col-sm-9 {
        width: 75%
    }

    .col-sm-8 {
        width: 66.66666667%
    }

    .col-sm-7 {
        width: 58.33333333%
    }

    .col-sm-6 {
        width: 50%
    }

    .col-sm-5 {
        width: 41.66666667%
    }

    .col-sm-4 {
        width: 33.33333333%
    }

    .col-sm-3 {
        width: 25%
    }

    .col-sm-2 {
        width: 16.66666667%
    }

    .col-sm-1 {
        width: 8.33333333%
    }

    .col-sm-pull-12 {
        right: 100%
    }

    .col-sm-pull-11 {
        right: 91.66666667%
    }

    .col-sm-pull-10 {
        right: 83.33333333%
    }

    .col-sm-pull-9 {
        right: 75%
    }

    .col-sm-pull-8 {
        right: 66.66666667%
    }

    .col-sm-pull-7 {
        right: 58.33333333%
    }

    .col-sm-pull-6 {
        right: 50%
    }

    .col-sm-pull-5 {
        right: 41.66666667%
    }

    .col-sm-pull-4 {
        right: 33.33333333%
    }

    .col-sm-pull-3 {
        right: 25%
    }

    .col-sm-pull-2 {
        right: 16.66666667%
    }

    .col-sm-pull-1 {
        right: 8.33333333%
    }

    .col-sm-pull-0 {
        right: auto
    }

    .col-sm-push-12 {
        left: 100%
    }

    .col-sm-push-11 {
        left: 91.66666667%
    }

    .col-sm-push-10 {
        left: 83.33333333%
    }

    .col-sm-push-9 {
        left: 75%
    }

    .col-sm-push-8 {
        left: 66.66666667%
    }

    .col-sm-push-7 {
        left: 58.33333333%
    }

    .col-sm-push-6 {
        left: 50%
    }

    .col-sm-push-5 {
        left: 41.66666667%
    }

    .col-sm-push-4 {
        left: 33.33333333%
    }

    .col-sm-push-3 {
        left: 25%
    }

    .col-sm-push-2 {
        left: 16.66666667%
    }

    .col-sm-push-1 {
        left: 8.33333333%
    }

    .col-sm-push-0 {
        left: auto
    }

    .col-sm-offset-12 {
        margin-left: 100%
    }

    .col-sm-offset-11 {
        margin-left: 91.66666667%
    }

    .col-sm-offset-10 {
        margin-left: 83.33333333%
    }

    .col-sm-offset-9 {
        margin-left: 75%
    }

    .col-sm-offset-8 {
        margin-left: 66.66666667%
    }

    .col-sm-offset-7 {
        margin-left: 58.33333333%
    }

    .col-sm-offset-6 {
        margin-left: 50%
    }

    .col-sm-offset-5 {
        margin-left: 41.66666667%
    }

    .col-sm-offset-4 {
        margin-left: 33.33333333%
    }

    .col-sm-offset-3 {
        margin-left: 25%
    }

    .col-sm-offset-2 {
        margin-left: 16.66666667%
    }

    .col-sm-offset-1 {
        margin-left: 8.33333333%
    }

    .col-sm-offset-0 {
        margin-left: 0
    }
}

@media (min-width:992px) {

    .col-md-1,
    .col-md-10,
    .col-md-11,
    .col-md-12,
    .col-md-2,
    .col-md-3,
    .col-md-4,
    .col-md-5,
    .col-md-6,
    .col-md-7,
    .col-md-8,
    .col-md-9 {
        float: left
    }

    .col-md-12 {
        width: 100%
    }

    .col-md-11 {
        width: 91.66666667%
    }

    .col-md-10 {
        width: 83.33333333%
    }

    .col-md-9 {
        width: 75%
    }

    .col-md-8 {
        width: 66.66666667%
    }

    .col-md-7 {
        width: 58.33333333%
    }

    .col-md-6 {
        width: 50%
    }

    .col-md-5 {
        width: 41.66666667%
    }

    .col-md-4 {
        width: 33.33333333%
    }

    .col-md-3 {
        width: 25%
    }

    .col-md-2 {
        width: 16.66666667%
    }

    .col-md-1 {
        width: 8.33333333%
    }

    .col-md-pull-12 {
        right: 100%
    }

    .col-md-pull-11 {
        right: 91.66666667%
    }

    .col-md-pull-10 {
        right: 83.33333333%
    }

    .col-md-pull-9 {
        right: 75%
    }

    .col-md-pull-8 {
        right: 66.66666667%
    }

    .col-md-pull-7 {
        right: 58.33333333%
    }

    .col-md-pull-6 {
        right: 50%
    }

    .col-md-pull-5 {
        right: 41.66666667%
    }

    .col-md-pull-4 {
        right: 33.33333333%
    }

    .col-md-pull-3 {
        right: 25%
    }

    .col-md-pull-2 {
        right: 16.66666667%
    }

    .col-md-pull-1 {
        right: 8.33333333%
    }

    .col-md-pull-0 {
        right: auto
    }

    .col-md-push-12 {
        left: 100%
    }

    .col-md-push-11 {
        left: 91.66666667%
    }

    .col-md-push-10 {
        left: 83.33333333%
    }

    .col-md-push-9 {
        left: 75%
    }

    .col-md-push-8 {
        left: 66.66666667%
    }

    .col-md-push-7 {
        left: 58.33333333%
    }

    .col-md-push-6 {
        left: 50%
    }

    .col-md-push-5 {
        left: 41.66666667%
    }

    .col-md-push-4 {
        left: 33.33333333%
    }

    .col-md-push-3 {
        left: 25%
    }

    .col-md-push-2 {
        left: 16.66666667%
    }

    .col-md-push-1 {
        left: 8.33333333%
    }

    .col-md-push-0 {
        left: auto
    }

    .col-md-offset-12 {
        margin-left: 100%
    }

    .col-md-offset-11 {
        margin-left: 91.66666667%
    }

    .col-md-offset-10 {
        margin-left: 83.33333333%
    }

    .col-md-offset-9 {
        margin-left: 75%
    }

    .col-md-offset-8 {
        margin-left: 66.66666667%
    }

    .col-md-offset-7 {
        margin-left: 58.33333333%
    }

    .col-md-offset-6 {
        margin-left: 50%
    }

    .col-md-offset-5 {
        margin-left: 41.66666667%
    }

    .col-md-offset-4 {
        margin-left: 33.33333333%
    }

    .col-md-offset-3 {
        margin-left: 25%
    }

    .col-md-offset-2 {
        margin-left: 16.66666667%
    }

    .col-md-offset-1 {
        margin-left: 8.33333333%
    }

    .col-md-offset-0 {
        margin-left: 0
    }
}

@media (min-width:1200px) {

    .col-lg-1,
    .col-lg-10,
    .col-lg-11,
    .col-lg-12,
    .col-lg-2,
    .col-lg-3,
    .col-lg-4,
    .col-lg-5,
    .col-lg-6,
    .col-lg-7,
    .col-lg-8,
    .col-lg-9 {
        float: left
    }

    .col-lg-12 {
        width: 100%
    }

    .col-lg-11 {
        width: 91.66666667%
    }

    .col-lg-10 {
        width: 83.33333333%
    }

    .col-lg-9 {
        width: 75%
    }

    .col-lg-8 {
        width: 66.66666667%
    }

    .col-lg-7 {
        width: 58.33333333%
    }

    .col-lg-6 {
        width: 50%
    }

    .col-lg-5 {
        width: 41.66666667%
    }

    .col-lg-4 {
        width: 33.33333333%
    }

    .col-lg-3 {
        width: 25%
    }

    .col-lg-2 {
        width: 16.66666667%
    }

    .col-lg-1 {
        width: 8.33333333%
    }

    .col-lg-pull-12 {
        right: 100%
    }

    .col-lg-pull-11 {
        right: 91.66666667%
    }

    .col-lg-pull-10 {
        right: 83.33333333%
    }

    .col-lg-pull-9 {
        right: 75%
    }

    .col-lg-pull-8 {
        right: 66.66666667%
    }

    .col-lg-pull-7 {
        right: 58.33333333%
    }

    .col-lg-pull-6 {
        right: 50%
    }

    .col-lg-pull-5 {
        right: 41.66666667%
    }

    .col-lg-pull-4 {
        right: 33.33333333%
    }

    .col-lg-pull-3 {
        right: 25%
    }

    .col-lg-pull-2 {
        right: 16.66666667%
    }

    .col-lg-pull-1 {
        right: 8.33333333%
    }

    .col-lg-pull-0 {
        right: auto
    }

    .col-lg-push-12 {
        left: 100%
    }

    .col-lg-push-11 {
        left: 91.66666667%
    }

    .col-lg-push-10 {
        left: 83.33333333%
    }

    .col-lg-push-9 {
        left: 75%
    }

    .col-lg-push-8 {
        left: 66.66666667%
    }

    .col-lg-push-7 {
        left: 58.33333333%
    }

    .col-lg-push-6 {
        left: 50%
    }

    .col-lg-push-5 {
        left: 41.66666667%
    }

    .col-lg-push-4 {
        left: 33.33333333%
    }

    .col-lg-push-3 {
        left: 25%
    }

    .col-lg-push-2 {
        left: 16.66666667%
    }

    .col-lg-push-1 {
        left: 8.33333333%
    }

    .col-lg-push-0 {
        left: auto
    }

    .col-lg-offset-12 {
        margin-left: 100%
    }

    .col-lg-offset-11 {
        margin-left: 91.66666667%
    }

    .col-lg-offset-10 {
        margin-left: 83.33333333%
    }

    .col-lg-offset-9 {
        margin-left: 75%
    }

    .col-lg-offset-8 {
        margin-left: 66.66666667%
    }

    .col-lg-offset-7 {
        margin-left: 58.33333333%
    }

    .col-lg-offset-6 {
        margin-left: 50%
    }

    .col-lg-offset-5 {
        margin-left: 41.66666667%
    }

    .col-lg-offset-4 {
        margin-left: 33.33333333%
    }

    .col-lg-offset-3 {
        margin-left: 25%
    }

    .col-lg-offset-2 {
        margin-left: 16.66666667%
    }

    .col-lg-offset-1 {
        margin-left: 8.33333333%
    }

    .col-lg-offset-0 {
        margin-left: 0
    }
}

@-webkit-keyframes hvr-ripple-in {
    100% {
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        opacity: 1
    }
}

@keyframes hvr-ripple-in {
    100% {
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        opacity: 1
    }
}

.hvr-ripple-in {
    display: block;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px transparent;
    position: relative
}

.hvr-ripple-in:before {
    content: '';
    position: absolute;
    border: #3fbfbf solid 1px;
    top: -5px;
    right: -5px;
    bottom: -5px;
    left: -5px;
    opacity: 0;
    -webkit-animation-duration: .7s;
    animation-duration: .7s
}

.hvr-ripple-in:active:before,
.hvr-ripple-in:focus:before,
.hvr-ripple-in:hover:before {
    -webkit-animation-name: hvr-ripple-in;
    animation-name: hvr-ripple-in
}

.hvr-underline-from-left {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px transparent;
    position: relative;
    overflow: hidden
}

.hvr-underline-from-left:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 0;
    right: 100%;
    bottom: 0;
    background: #3fbfbf;
    height: 4px;
    -webkit-transition-property: right;
    transition-property: right;
    -webkit-transition-duration: .3s;
    transition-duration: .3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out
}

.hvr-underline-from-left:active:before,
.hvr-underline-from-left:focus:before,
.hvr-underline-from-left:hover:before {
    right: 0
}

.hvr-radial-out {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px transparent;
    position: relative;
    overflow: hidden;
    background: 0 0;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: .3s;
    transition-duration: .3s
}

.hvr-radial-out:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #3fbfbf;
    border-radius: 100%;
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transition-property: transform;
    -webkit-transition-property: -webkit-transform;
    transition-property: -webkit-transform;
    transition-property: transform;
    transition-property: transform, -webkit-transform;
    -webkit-transition-duration: .3s;
    transition-duration: .3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out
}

.hvr-radial-out:active,
.hvr-radial-out:focus,
.hvr-radial-out:hover {
    color: #fff
}

.hvr-radial-out:focus:before,
.hvr-radial-out:hover:before {
    -webkit-transform: scale(2);
    transform: scale(2)
}

.container {
    width: 32rem;
    margin: 0 auto
}

.container:after {
    clear: both;
    content: '.';
    display: block;
    overflow: hidden;
    visibility: hidden;
    font-size: 0;
    line-height: 0;
    width: 0;
    height: 0
}

.header {
    background: #fff;
    border-bottom: .02666667rem solid #eee;
    padding: .4rem 0
}

.header .logo {
    float: left;
    width: 2.93333333rem
}

.header .logo img {
    width: 100%
}

.navbar-list {
    float: right
}

.navbar-list__item {
    cursor: pointer;
    position: relative;
    float: left;
    margin-left: .53333333rem
}

.navbar-list__item>a {
    padding: .26666667rem .53333333rem;
    letter-spacing: .05333333rem
}

.navbar-list__item>a .fa-caret-down {
    margin-left: .13333333rem
}

.navbar-list__item.active>a {
    color: #3fbfbf
}

.navbar-toggle {
    display: none;
    border: none;
    background: #3fbfbf;
    border-radius: 0;
    color: #fff;
    outline: 0;
    text-transform: none;
    float: right;
    font-size: .42666667rem;
    padding: .16rem .26666667rem
}

.nav-dropdown-menu {
    display: none;
    position: absolute;
    background: #fff;
    z-index: 10;
    width: 100%;
    left: 0
}

.nav-dropdown-menu__item {
    width: 100%;
    border-bottom: .02666667rem solid #eee
}

.nav-dropdown-menu__item>a {
    text-align: center;
    display: block;
    width: 100%;
    padding: .4rem 0
}

.nav-dropdown-menu__item.active>a {
    color: #3fbfbf
}

.top-banner {
    height: 6.66666667rem;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: 100% 100%
}

.breadcrumb {
    background: #f5f5f5;
    padding: .53333333rem 0
}

.breadcrumb-list__item {
    float: left
}

.breadcrumb-list__item:last-child {
    color: #888
}

.breadcrumb-list__item:last-child span {
    display: none
}

.breadcrumb-list__item a {
    color: #3fbfbf
}

.breadcrumb-list__item span {
    padding: 0 .4rem;
    color: #888
}

.footer {
    width: 100%
}

.footer .foot-info {
    width: 100%;
    display: table;
    background: #333;
    color: #fff;
    padding: .53333333rem 0
}

.footer .foot-info__col {
    width: 33.33%;
    float: left;
    padding: 0 .4rem
}

.footer .foot-info__qrcode {
    width: 2.13333333rem;
    float: left
}

.footer .foot-info__qrcode img {
    width: 100%
}

.footer .foot-info__text {
    float: left;
    margin-left: .4rem;
    margin-top: .4rem
}

.footer .foot-info__title {
    font-size: .42666667rem
}

.footer .foot-info__cont {
    color: #aaa;
    margin-top: .4rem
}

.footer .foot-link {
    padding: .4rem .4rem;
    border-bottom: .02666667rem solid #eee
}

.footer .foot-link a,
.footer .foot-link span {
    margin-right: .53333333rem;
    line-height: .8rem
}

.footer .foot-link a {
    color: #3fbfbf
}

.footer .copyright {
    text-align: center;
    color: #888;
    padding: .26666667rem .4rem;
    font-size: .32rem
}

.footer .copyright a {
    color: #3fbfbf
}

.common-frame {
    padding: 1.33333333rem 0
}

/*section2开始*/
.section2 {
    position: relative;
    /* background: url(/public/home/images/page-about-bj.png) center top no-repeat; */
    height: 665px;
}

.my2-lisde .hd {
    background: url(/public/home/images/xbj12.png) center center no-repeat;
    width: 345px;
    height: 63px;
    margin: 0 auto;
}

.my2-lisde .hd ul li {
    float: left;
    cursor: pointer;
}

.xico1,
.xico2,
.xico3 {
    width: 61px;
    height: 61px;
}

.xico1 {
    background: url(/public/home/images/xico2.png) no-repeat;
    margin-right: 77px;
}

.xico2 {
    background: url(/public/home/images/xico3.png) no-repeat;
    margin-right: 77px;
}

.xico3 {
    background: url(/public/home/images/xico4.png) no-repeat;
    margin-right: 0px;
}

.my2-lisde .hd ul li.on div.xico1 {
    background: url(/public/home/images/xico2-hover.png) no-repeat;
}

.my2-lisde .hd ul li.on div.xico2 {
    background: url(/public/home/images/xico3-hover.png) no-repeat;
}

.my2-lisde .hd ul li.on div.xico3 {
    background: url(/public/home/images/xico4-hover.png) no-repeat;
}

.my2-lisde .bd ul {
    width: 880px;
    margin: 0 auto;
    padding-top: 40px;
    font-family: "微软雅黑";
}

.myt-left {
    width: 560px;
}

.fl {
    float: left;
    display: inline;
}

.fr {
    float: right;
    display: inline;
}

.myt-t1 {
    font-size: 30px;
    color: #fff;
    font-weight: 100;
    padding-bottom: 18px;
}

.myt-t2 {
    font-size: 18px;
    color: #fff;
    font-weight: 100;
    padding-bottom: 18px;
}

.myt-t3 {
    font-size: 14px;
    color: #999;
    font-weight: 100;
    padding-bottom: 20px;
}

.my2-lisde .bd .myt-list ul {
    width: 570px;
    padding-top: 0px;
}

.myt-list ul li {
    display: block;
    background: url(/public/home/images/xico5.png) center left no-repeat;
    padding-left: 20px;
    margin-bottom: 8px;
    height: 18px;
    font-size: 14px;
    color: #999;
    float: left;
    width: 260px;
}

.myt-list2 {
    width: 560px;
}

.my2-lisde .bd .myt-list2 ul {
    width: 570px;
}

.myt-list2 ul li {
    float: left;
    width: 278px;
    margin-bottom: 20px;
}

.myxico1 {
    width: 32px;
    text-align: center;
    margin-right: 14px;
}

.myxicofr b,
.myxicofr span {
    display: block;
    font-family: "微软雅黑";
    color: #999;
}

.myxicofr b {
    font-size: 18px;
}

.myxicofr span {
    font-size: 14px;
}

.myt-l1 {
    width: 195px;
}

.myt-l1 b,
.myt-l1 span {
    display: block;
    font-family: "微软雅黑";
    color: #999;
}

.myt-l1 b {
    font-size: 18px;
    margin-bottom: 14px;
}

.myt-l1 span {
    font-size: 14px;
    margin-bottom: 8px;
}

/* section2结束 */

.common-title {
    letter-spacing: 1px;
    color: #3fbfbf;
    font-size: .58666667rem
}

.common-title:after {
    clear: both;
    content: '.';
    display: block;
    overflow: hidden;
    visibility: hidden;
    font-size: 0;
    line-height: 0;
    width: 0;
    height: 0
}

.common-cont {
    margin-top: .8rem
}

.common-cont:after {
    clear: both;
    content: '.';
    display: block;
    overflow: hidden;
    visibility: hidden;
    font-size: 0;
    line-height: 0;
    width: 0;
    height: 0
}

.info-page .common-title ul li {
    float: left;
    position: relative;
    padding-left: .67rem;
    width: 7.6rem;
    height: 7rem;
    text-align: left;
    background: url(/public/home/images/shadow02.png) no-repeat right;
}

.info-page .common-title .s3-mn-l-head {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0.6rem;
    width: 5.47rem;
    height: 5.47rem;
    line-height: 5.47rem;
    text-align: center;
    font-family: "微软雅黑";
    font-weight: bold;
    color: #fff;
    transition: all .5s ease;
    -moz-transition: all .5s ease;
    -webkit-transition: all .5s ease;
    -o-transition: all .5s ease;
}

.info-page .common-title .s3-mn-list:hover .s3-mn-l-head {
    opacity: 1;
}

.info-page .common-title .s3-mn-list .s3-mh-l-bj {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 0;
    height: 0;
    border-radius: 0;
    background-color: #3fbfbf;
    transition: all .5s ease;
    -moz-transition: all .5s ease;
    -webkit-transition: all .5s ease;
    -o-transition: all .5s ease;
}

.info-page .common-title .s3-mn-list:hover .s3-mh-l-bj {
    top: 0;
    left: .667rem;
    width: 5.5rem;
    height: 5.5rem;
    border-radius: 3rem;
}

.section2 {
    position: relative;
    width: 100%;
    height: 690px;
    background-color: #fff;
    text-align: center;
}

.section2 .title {
    position: relative;
    padding-top: 40px;
    height: 98px;
}

.section2 .head-line {
    margin-top: 50px;
    padding-top: 50px;
    margin-bottom: 60px;
    font-family: "微软雅黑";
    font-size: 24px;
    color: #898989;
}

.section2 .main-text {
    margin: 0 auto;
    width: 100%;
    height: 14.37rem;
}

.section2 .main-text .m-t-item {
    float: left;
    margin-right: 1rem;
}

.section2 .main-text .design-ico {
    width: 21%;
}

.section2 .main-text .move-ico {
    width: 172px;
}

.section2 .main-text .brand-ico {
    width: 160px;
}

.section2 .main-text .ui-ico {
    width: 200px;
}

.section2 .main-text .ui2-ico {
    width: 145px;
    margin-right: 0;
}

.section2 .main-text .m-t-item:hover .m-t-text {
    transition: all .8s ease;
    -moz-transition: all .8s ease;
    -webkit-transition: all .8s ease;
    -o-transition: all .8s ease;
}

.section2 .main-text .m-t-item:hover .m-t-text {
    margin-top: -74px;
}

.section2 .main-text .m-t-item .m-t-wrap {
    height: 74px;
    overflow: hidden;
}

.section2 .main-text .m-t-item .m-t-text h2 {
    margin-top: 8px;
    font-family: "微软雅黑";
    font-size: 18px;
    font-weight: normal;
    color: #545454;
}

.section2 .main-text .m-t-item .m-t-text p {
    margin-top: 36px;
    font-family: "微软雅黑";
    font-size: 14px;
    color: #999;
}

.section2 .main-text .m-t-ico {
    display: block;
    margin: 0 auto;
    margin-bottom: 22px;
    width: 122px;
    height: 122px;
}

.section2 .main-text .m-t-item:nth-of-type(1) .m-t-ico {
    background: url("/public/home/images/design-ico.png") center no-repeat;
}

.section2 .main-text .m-t-item:hover:nth-of-type(1) .m-t-ico {
    background: url("/public/home/images/design-ico-hover.png") center no-repeat;
}

.section2 .main-text .m-t-item:nth-of-type(2) .m-t-ico {
    background: url("/public/home/images/move-ico.png") center no-repeat;
}

.section2 .main-text .m-t-item:hover:nth-of-type(2) .m-t-ico {
    background: url("/public/home/images/move-ico-hover.png") center no-repeat;
}

.section2 .main-text .m-t-item:nth-of-type(3) .m-t-ico {
    background: url("/public/home/images/brand-ico.png") center no-repeat;
}

.section2 .main-text .m-t-item:hover:nth-of-type(3) .m-t-ico {
    background: url("/public/home/images/brand-ico-hover.png") center no-repeat;
}

.section2 .main-text .m-t-item:nth-of-type(4) .m-t-ico {
    background: url("/public/home/images/ui-ico.png") center no-repeat;
}

.section2 .main-text .m-t-item:hover:nth-of-type(4) .m-t-ico {
    background: url("/public/home/images/ui-ico-hover.png") center no-repeat;
}

.section2 .main-text .m-t-item:nth-of-type(5) .m-t-ico {
    background: url("/public/home/images/ui2-ico.png") center no-repeat;
}

.section2 .main-text .m-t-item:hover:nth-of-type(5) .m-t-ico {
    background: url("/public/home/images/ui2-ico-hover.png") center no-repeat;
}

.info-page__part {
    padding-top: .4rem;
    padding-bottom: .4rem
}

.info-page .read-more {
    margin-top: .26666667rem
}

.read-more__btn {
    color: #888;
    letter-spacing: 1px;
    padding: .26666667rem 0
}

.read-more__btn i {
    margin-left: .13333333rem
}

.content {
    width: 100%
}

.edge-frame {
    padding: 0 .4rem
}

.clearfix:after,
.clearfix:before {
    clear: both;
    content: '.';
    display: block;
    overflow: hidden;
    visibility: hidden;
    font-size: 0;
    line-height: 0;
    width: 0;
    height: 0
}

.mask {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 88;
    background: #101620;
    display: none;
    min-width: 100vh;
    opacity: .75;
    min-height: 100vh
}

.mask.show {
    display: block
}

* {
    -webkit-tap-highlight-color: transparent
}

div:focus,
input:focus,
p:focus {
    -webkit-tap-highlight-color: transparent;
    -webkit-user-modify: read-write-plaintext-only
}

input[type=search] {
    -webkit-appearance: textfield
}

input::-webkit-search-cancel-button,
input::-webkit-search-decoration {
    display: none
}

@media screen and (max-width:1200px) {
    .container {
        width: 100%
    }

    .banner .banner-next-btn,
    .banner .banner-prev-btn {
        font-size: 1.06666667rem;
        margin-top: -.53333333rem
    }

    .top-banner {
        height: 5.33333333rem
    }

    .section2 .main-text .design-ico {
        width: 28%;
    }
}

@media screen and (max-width:768px) {
    .header {
        position: fixed;
        background: #fff;
        width: 100%;
        z-index: 999;
        top: 0;
        height: 1.33333333rem;
        line-height: 1.33333333rem;
        padding: 0 0
    }

    .header .logo {
        width: 2.13333333rem;
        margin-top: .26666667rem
    }

    .content {
        margin-top: 1.33333333rem
    }

    .banner .banner-next-btn,
    .banner .banner-prev-btn {
        display: none
    }

    .navbar {
        position: relative
    }

    .navbar-list {
        display: none;
        position: absolute;
        width: 100%;
        z-index: 99;
        background: #fff;
        padding: 0;
        text-align: center;
        top: 1.33333333rem;
        margin-top: 0
    }

    .navbar-list__item {
        width: 100%;
        margin: .26666667rem 0
    }

    .navbar-list__item a {
        padding: 0 .26666667rem
    }

    .navbar-toggle {
        margin-top: .26666667rem;
        display: block
    }

    .top-banner {
        height: 2.66666667rem;
        background-size: 100% 100%
    }

    .nav-dropdown-menu {
        position: static;
        background: #333
    }

    .nav-dropdown-menu__item {
        border-bottom: 1px solid #171616
    }

    .nav-dropdown-menu__item:hover a {
        color: #3fbfbf;
        background: 0 0
    }

    .nav-dropdown-menu__item a {
        color: #fff
    }

    .breadcrumb {
        padding: .266666627remrem 0
    }

    .common-title {
        font-size: 16px;
    }

    .common-cont {
        margin-top: .53333333rem
    }

    .section2 .main-text {
        width: 100%;
        padding-left: 1rem;
    }

    .section2 .main-text .design-ico {
        width: 37%;
    }
}